a {
    text-decoration: none;
    color: inherit;
}

    a:link,
    a:visited {
        color: inherit;
        background-color: transparent;
    }

    a:hover,
    a:active {
        color: inherit;
    }


body {
}

/* Global */
::placeholder {
    color: #333;
    opacity: 0.7;
}

/* Buttons */
.button-holder {
}

    .button-holder .button {
        display: table;
        position: relative;
        font-size: 14px;
        font-weight: bold;
        padding: 15px 30px;
        text-transform: uppercase;
        margin: 0px auto;
        line-height: 1em;
    }

        .button-holder .button.yellow {
            background-color: #ffdd00;
            color: #000;
        }

            .button-holder .button.yellow:hover {
                background-color: #ffe264;
                transition: all 0.2s ease-in-out;
            }

        .button-holder .button.white {
            background-color: #fff;
            color: #000;
        }

/* Header */
header {
    display: flex;
    position: relative;
    padding: 30px 20px;
    margin: auto;
}

    header a {
        white-space: nowrap;
    }

    header .logo {
    }

        header .logo img {
            width: auto;
            max-height: 90px;
        }

    header .search-box-holder {
        width: 100%;
        margin: auto 0px auto 60px;
        display: flex;
        justify-content: flex-start;
        position: relative;
    }

        header .search-box-holder input {
            padding: 6px;
            min-width: 300px;
            border: 1px solid #d3d3d3;
        }

        header .search-box-holder a {
            background-color: #fcce01;
            width: 45px;
            line-height: 2em;
            padding: 5px;
            color: #000;
            text-align: center;
            text-decoration: none;
            display: block;
            top: 0;
            right: 0;
            cursor: pointer;
        }

            header .search-box-holder a:before {
                content: '';
                position: absolute;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                background-image: url(../images/icon-search.png);
                height: 26px;
                width: 26px;
                background-repeat: no-repeat;
                background-size: 26px;
            }

    header .nav-right {
        margin: auto;
        display: flex;
    }

        header .nav-right .button-holder {
            margin-left: 10px;
        }

    header .menu-icon {
        display: none;
    }

head .menu-icon .menu-open {
    margin: auto;
}

header .menu-icon .menu-close {
    display: none;
}

.menu-section {
    justify-content: center;
    position: relative;
    background-color: #FFDD00;
    margin: auto;
}

    .menu-section nav {
        position: relative;
        display: flex;
        padding: 15px 140px 15px 40px;
        margin: auto;
    }

nav .main-items {
    margin: auto;
}

    nav .main-items a + a {
        margin-left: 100px;
    }

nav a {
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 100%;
}

    nav a:hover {
        opacity: 0.8;
    }

nav .select-language {
    position: absolute;
    right: 40px;
    background-color: inherit;
}

    nav .select-language .dropdown {
        position: relative;
        display: inline-block;
    }

    nav .select-language .dropbtn {
        border: none;
        cursor: pointer;
        padding-bottom: 14px;
        font-weight: 700;
        color: #000;
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    nav .select-language .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #FFDD00;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

        nav .select-language .dropdown-content:after {
            content: '';
            position: absolute;
            top: 0;
            right: 25%;
            margin-left: -15px;
            margin-top: -15px;
            width: 0;
            z-index: 1;
            height: 0;
            border-bottom: solid 15px #FFDD00;
            border-left: solid 15px transparent;
            border-right: solid 15px transparent;
        }

        nav .select-language .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    nav .select-language .dropdown:hover .dropdown-content {
        display: block;
    }

    nav .select-language .dropdown-content a:hover {
        background-color: #FFDD00;
        opacity: .5;
    }

/* Footer */
footer {
    align-items: start;
    justify-content: center;
    background-color: #111;
    color: #fff;
}

.footer-top {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-auto-rows: 1fr;
    column-gap: 10px;
    margin: auto;
    max-width: 1240px;
    padding: 30px 40px;
}

    .footer-top .title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    /* Footer - left */
    .footer-top .left-container {
    }

    .footer-top .footer-links {
        display: grid;
        grid-template-columns: auto auto auto;
    }

        .footer-top .footer-links .group-links {
            display: flex;
            flex-direction: column;
        }

            .footer-top .footer-links .group-links a {
                position: relative;
                font-size: 16px;
                margin-bottom: 10px;
            }

                .footer-top .footer-links .group-links a:hover {
                    text-decoration: underline;
                }


    /* Footer - right */
    .footer-top .right-container {
    }

    .footer-top .newsletter-holder .title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .footer-top .newsletter-holder .form-holder .form-row {
        margin-bottom: 10px;
        width: 100%;
    }

        .footer-top .newsletter-holder .form-holder .form-row.columns {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

            .footer-top .newsletter-holder .form-holder .form-row.columns input:first-child {
                margin-right: 10px;
            }

            .footer-top .newsletter-holder .form-holder .form-row.columns input {
                width: 50%;
            }

        .footer-top .newsletter-holder .form-holder .form-row .company,
        .footer-top .newsletter-holder .form-holder .form-row .email {
            width: 100%;
        }

    .footer-top .newsletter-holder .form-holder input[type=text],
    .footer-top .newsletter-holder .form-holder input[type=email] {
        background-color: #fff;
        color: #000;
        border: 1px solid #DCDFE6;
        padding: 6px;
    }


    .footer-top .newsletter-holder .button-holder .button {
        margin: 0;
        width: 100%;
        text-align: center;
    }


    /* Social Buttons */
    .footer-top .social-icons-holder {
        margin-top: 30px;
    }

        .footer-top .social-icons-holder .social-icons {
            display: flex;
            gap: 20px;
        }

            .footer-top .social-icons-holder .social-icons a {
                position: relative;
                display: inline-block;
                width: 40px;
                height: 40px;
                justify-self: center;
                background-color: #fff;
                border-radius: 50%;
            }

                .footer-top .social-icons-holder .social-icons a:hover {
                }


                .footer-top .social-icons-holder .social-icons a:first-child {
                    margin-left: 0px;
                }

                .footer-top .social-icons-holder .social-icons a:last-child {
                    margin-right: 0px;
                }

                .footer-top .social-icons-holder .social-icons a:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 28px;
                    height: 24px;
                    background-size: cover;
                }

            .footer-top .social-icons-holder .social-icons .facebook:before {
                background-image: url('../images/icon-facebook.png');
            }

            .footer-top .social-icons-holder .social-icons .instagram:before {
                background-image: url('../images/icon-instagram.png');
            }

            .footer-top .social-icons-holder .social-icons .linkedin:before {
                background-image: url('../images/icon-linkedin.png');
            }

/* Footer Bottom */
.footer-bottom {
    background-color: #000;
    margin: 0 auto;
}

    .footer-bottom .bottom-links {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
    }

        .footer-bottom .bottom-links a {
            color: #c4c5c5;
            text-decoration: underline;
            font-size: 14px;
        }

            .footer-bottom .bottom-links a:hover {
                color: #fff;
            }

            .footer-bottom .bottom-links a + a {
                margin-left: 20px;
            }

    .footer-bottom .rights-reserved {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        padding: 0 0 15px 0;
        font-size: 14px;
    }


/* Products */
.products {
}

.products-wrapper {
    position: relative;
    width: 100%;
}

    .products-wrapper.animation {
        -webkit-animation: big-slide-from-right 0.5s;
        -webkit-transition: width 0.5s, left 0.5s;
        -moz-transition: width 0.5s, left 0.5s;
        -o-transition: width 0.5s, left 0.5s;
        transition: width 0.5s, left 0.5s;
    }

    .products-wrapper.active {
        -webkit-animation: big-slide-from-left 0.5s;
        left: 330px;
        width: calc(100% - 330px);
        -webkit-transition: width 0.5s;
        -moz-transition: width 0.5s;
        -o-transition: width 0.5s;
        transition: width 0.5s;
    }

@-webkit-keyframes big-slide-from-left {
    0% {
        left: 0px
    }

    100% {
        left: 330px
    }
}

@-webkit-keyframes big-slide-from-right {
    0% {
        left: 330px
    }

    100% {
        left: 0px
    }
}


.products-wrapper .filters-holder {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -330px;
    background-color: #fff;
    padding: 0;
    width: 330px;
    z-index: 1;
    opacity: 0;
}

.products-wrapper.active .filters-holder {
    opacity: 1;
}

.products-wrapper .filters-holder.animation {
    -webkit-animation: slide-from-right 10s;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.products-wrapper .filters-holder.active {
    left: -330px;
    opacity: 1;
    -webkit-animation: slide-from-left 0.1s;
}

.products-holder {
    position: relative;
    max-width: 1040px;
    margin: 50px auto 50px auto;
    padding: 0 40px;
}

.products-holder .header {
	display: none;
}

.products-holder .statistics {
	display: none;
}

    .products-holder .products-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 25px;
    }

        .products-holder .products-grid .product-item {
            text-align: center;
            text-decoration: none;
        }

.product-item .image-holder {
    margin-bottom: 10px;
    position: relative;
}

    .product-item .image-holder img {
        max-width: 100%;
    }


.product-item .title {
    font-size: 21px;
    line-height: 1.25em;
}



/* Extra large devices  */
@media only screen and (max-width: 1200px) {

    .button {
        padding: 15px 45px;
    }

    nav {
        padding: 20px 160px 20px 40px;
    }

        nav .main-items a + a {
            margin-left: 60px;
        }

    header .search-box-holder input {
        min-width: 300px;
    }

    footer {
        
    }

        footer .footer-top {
            padding: 30px 0px;
        }
}

/* Large devices (laptops/desktops) */
@media only screen and (max-width: 992px) {
    .button {
        font-size: 14px;
        font-weight: bold;
        padding: 15px 25px;
        text-transform: uppercase;
        margin: 0px auto;
        line-height: 1em;
    }

    /* Header */
    header .logo {
        min-width: 150px;
    }

    header .search-box-holder {
        margin: auto 0px auto 15px;
    }

        header .search-box-holder input {
            min-width: 220px;
        }

    nav .main-items a + a {
        margin-left: 20px;
    }

    nav .select-language .dropbtn {
        font-size: 14px;
        letter-spacing: 1px;
    }

    nav a {
        font-weight: 700;
        color: #000;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        height: 100%;
    }

    /* Footer */
    footer .footer-top {
        grid-template-columns: 1fr 280px;
        padding: 30px 0px;
    }

        footer .footer-top .social-icons-holder {
            grid-column: 1/4;
            margin-left: auto;
            margin-right: 15px;
        }

        footer .footer-top .left-container .item .title {
            font-size: 18px;
        }

        footer .footer-top .footer-links .newsletter-holder .title {
            font-size: 18px;
        }
}

/* Medium devices (landscape tablets) */
@media only screen and (max-width: 768px) {

    header .logo {
        width: 250px;
    }

        header .logo img {
        }


    header .search-box-holder {
        font-size: 16px;
    }

        header .search-box-holder input {
            padding: 5px 5px;
        }

        header .search-box-holder a {
            background-color: #fcce01;
            width: 45px;
            line-height: 2em;
            padding: 5px;
            color: #000;
            text-align: center;
            text-decoration: none;
            display: block;
            top: 0;
            right: 0;
            cursor: pointer;
        }

            header .search-box-holder a:before {
                height: 22px;
                width: 22px;
                background-size: 22px;
            }


    header .nav-right {
        display: none;
    }

    header .menu-icon {
        margin: auto;
        display: flex;
        width: 45px;
        cursor: pointer;
    }

        header .menu-icon img {
            width: 45px;
        }

    head .menu-icon .menu-open {
        margin: auto;
    }

    header .menu-icon .menu-close {
        display: none;
    }

    .menu-section {
        display: none;
    }


    footer {
    }

        footer .footer-top {
            grid-template-columns: 1fr 240px;
            column-gap: 10px;
        }

            footer .footer-top .left-container .item {
                grid-template-rows: repeat(1fr, 30px);
                justify-content: space-between;
                column-gap: 10px;
            }

                footer .footer-top .left-container .item a {
                    font-size: 14px;
                }

                footer .footer-top .left-container .item .title {
                    font-size: 16px;
                }

            footer .footer-top .footer-links .newsletter-holder .title {
                font-size: 16px;
            }

            footer .footer-top .newsletter-holder .form-holder .form-row.columns {
            }

                footer .footer-top .newsletter-holder .form-holder .form-row.columns input {
                }

    .form-check {
        font-size: 14px;
    }

    .footer-top .newsletter-holder .title {
        font-size: 22px;
    }
}

@media only screen and (max-width: 700px) {
    footer .footer-top .social-icons-holder {
        grid-column: 1/4;
        margin: 30px 0;
    }

    footer .footer-top {
        display: block;
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer-top .left-container,
    .footer-top .right-container {
        max-width: 450px;
        margin: auto;
    }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (max-width: 600px) {
    header .logo {
        min-width: 100px;
    }

    header .menu-icon {
        margin-left: 15px;
    }


    .products-holder .products-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }

    footer .footer-top {
        padding-left: 0px;
        padding-right: 0px;
    }

        footer .footer-top .social-icons-holder {
            grid-column: 1/4;
            margin: 30px 0;
        }

        footer .footer-top .left-container {
        }



            footer .footer-top .left-container .item {
                display: flex;
                flex-flow: column wrap;
                margin: auto;
                justify-content: center;
                align-items: center;
            }

                footer .footer-top .left-container .item .title {
                    margin-bottom: 10px;
                    margin-top: 10px;
                }

                footer .footer-top .left-container .item a {
                    margin-bottom: 5px;
                }

    .footer-top .right-container {
    }
}

@media only screen and (max-width: 480px) {
    header .search-box-holder {
        max-width: 50%;
        min-width: 40%;
    }

        header .search-box-holder input {
            max-width: 100%;
            min-width: 40%;
            width: unset;
        }


    .products-holder .products-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }

    footer {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 0px;
    }

    .footer-top .footer-links {
        display: block;
        text-align: center;
    }

    .footer-top .social-icons-holder .social-icons {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-bottom: 50px;
    }

    .footer-bottom .bottom-links a + a {
        margin: 0 0 10px 0;
    }

    .footer-bottom .bottom-links a {
        margin: 0 0 10px 0;
    }

    .footer-bottom .bottom-links {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
        flex-direction: column;
    }

    .footer-top .newsletter-holder .title {
        font-size: 20px;
    }

    .footer-bottom .rights-reserved {
        text-align: center;
    }
}

@media only screen and (max-width: 320px) {
    header .logo {
        max-width: 70px;
        min-width: 70px;
    }

    header .menu-icon {
        display: flex;
        width: 24px;
        cursor: pointer;
    }

    header .search-box-holder {
        padding: 0;
        margin: 0 0 0 15px;
        max-width: 150px;
        min-width: 150px;
    }

        header .search-box-holder input {
            max-width: 100%;
            min-width: 50px;
        }

        header .search-box-holder a {
            background-color: #fcce01;
            width: 32px;
            line-height: 1em;
            padding: 5px;
            color: #000;
            text-align: center;
            text-decoration: none;
            display: block;
            top: 0;
            right: 0;
            cursor: pointer;
        }

            header .search-box-holder a:before {
                height: 16px;
                width: 16px;
                background-size: 16px;
            }

    body,
    header,
    footer {
        min-width: 320px;
    }
}
