h1 {
	font-size: 3.5rem;
}

a {
	text-decoration: none;
	color: inherit;
}

	a:link,
	a:visited {
		color: inherit;
		background-color: transparent;
	}

	a:hover,
	a:active {
		color: inherit;
	}


body {
}

/* Global */
::placeholder {
	color: #333;
	opacity: 0.7;
}

input[type=text], textarea {
	border: 1px solid #d3d3d3;
	padding: 6px 10px;
}

/* Buttons */
.button-holder {
}

	.button-holder .button {
		display: table;
		position: relative;
		font-size: 14px;
		font-weight: bold;
		padding: 15px 30px;
		text-transform: uppercase;
		margin: 0px auto;
		line-height: 1em;
	}

	.button-holder.small .button {
		padding: 10px 20px;
		font-size: 12px;
	}

		.button-holder .button.yellow {
			background-color: #ffdd00;
			color: #000;
		}

			.button-holder .button.yellow:hover {
				background-color: #ffe264;
				transition: all 0.2s ease-in-out;
			}

		.button-holder .button.white {
			background-color: #fff;
			color: #000;
		}

		.button-holder .button.button-whats-this {
			padding-left: 0;
			padding-right: 0;
		}

		.button-holder .button.button-whats-this::before {
			content: '';
			display: inline-block;
			width: 25px;
			height: 25px;
			background: url(../images/icon-heart-regular.svg) left no-repeat;
			margin-right: 10px;
			vertical-align: middle;
		}

		.button-holder .button.button-download-file{
			padding: 5px 15px;
		}
		.button-holder .button.button-download-file::before{
			content: '';
			display: inline-block;
			width: 32px;
			height: 32px;
			background: url(../images/download-icn-black.svg) left no-repeat;
			margin-right: 10px;
			vertical-align: middle;
			background-size: 100%;
		}

/* Header */
header {
	display: flex;
	position: relative;
	padding: 30px 20px;
	margin: auto;
}

	header a {
		white-space: nowrap;
	}

	header .logo {
	}

		header .logo img {
			width: auto;
			max-height: 90px;
		}

	header .search-box-holder {
		width: 100%;
		margin: auto 0px auto 60px;
		display: flex;
		justify-content: flex-start;
		position: relative;
	}

		header .search-box-holder input {
			padding: 6px;
			min-width: 300px;
			border: 1px solid #d3d3d3;
		}

		header .search-box-holder a {
			background-color: #fcce01;
			width: 45px;
			line-height: 2em;
			padding: 5px;
			color: #000;
			text-align: center;
			text-decoration: none;
			display: block;
			top: 0;
			right: 0;
			cursor: pointer;
		}

			header .search-box-holder a:before {
				content: '';
				position: absolute;
				top: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				background-image: url(../images/icon-search.png);
				height: 26px;
				width: 26px;
				background-repeat: no-repeat;
				background-size: 26px;
			}

	header .nav-right {
		margin: auto;
		display: flex;
	}

		header .nav-right .button-holder {
			margin-left: 10px;
		}

	header .menu-icon {
		display: none;
	}

header .menu-icon .menu-open {
	margin: auto;
}

.language-selector .selected-language:before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/icon-globe.svg) left no-repeat;
	background-size: contain;
	margin-right: 10px;
	vertical-align: middle;
}


.menu-section {
	justify-content: center;
	position: relative;
	background-color: #FFDD00;
	margin: auto;
}

	.menu-section nav {
		position: relative;
		display: flex;
		padding: 15px 140px 15px 40px;
		margin: auto;
	}

nav .main-items {
	margin: auto;
}

	nav .main-items a + a {
		margin-left: 100px;
	}

nav a {
	font-weight: 700;
	color: #000;
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	height: 100%;
}

	nav a:hover {
		opacity: 0.8;
	}

nav .select-language {
	position: absolute;
	right: 40px;
	background-color: inherit;
}

	nav .select-language .dropdown {
		position: relative;
		display: inline-block;
	}

	nav .select-language .dropbtn {
		border: none;
		cursor: pointer;
		padding-bottom: 14px;
		font-weight: 700;
		color: #000;
		font-size: 16px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	nav .select-language .dropdown-content {
		display: none;
		position: absolute;
		right: 0;
		background-color: #FFDD00;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
		z-index: 1;
	}

		nav .select-language .dropdown-content:after {
			content: '';
			position: absolute;
			top: 0;
			right: 25%;
			margin-left: -15px;
			margin-top: -15px;
			width: 0;
			z-index: 1;
			height: 0;
			border-bottom: solid 15px #FFDD00;
			border-left: solid 15px transparent;
			border-right: solid 15px transparent;
		}

		nav .select-language .dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

	nav .select-language .dropdown:hover .dropdown-content {
		display: block;
	}

	nav .select-language .dropdown-content a:hover {
		background-color: #FFDD00;
		opacity: .5;
	}

/* Mobile menu*/
.mobile-menu-section {
	width: 100%;
	background-color: #FFDD00;
	position: absolute;
	z-index: 1000;
	top: 0;
	padding: 30px 20px;
	display:none;
}

.mobile-menu-section nav {
	padding: 20px 0px 20px 40px;
}

	.mobile-menu-section a {
		font-weight: 700;
		display: block;
		padding: 10px;
		color: #000;
		text-decoration: none;
		font-size: 22px;
		text-transform: uppercase;
	}

	.mobile-menu-section a:hover{
		opacity: .5;
	}

	.mobile-main-navigation .main-items>ul>li>ul li a {
		font-size: 17px;
	}

	.mobile-menu-section .menu-icon {
		width: 100%;
	}

		.mobile-menu-section .menu-icon img {
			margin-left: auto;
			display: block;
			width: 32px;
			height: auto;
			cursor: pointer;

		}

/* Footer */
footer {
	align-items: start;
	justify-content: center;
	background-color: #111;
	color: #fff;
}

.footer-top {
	display: grid;
	grid-template-columns: 1fr 350px;
	grid-auto-rows: 1fr;
	column-gap: 10px;
	margin: auto;
	max-width: 1240px;
	padding: 30px 40px;
}

	.footer-top .title {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	/* Footer - left */
	.footer-top .left-container {
	}

	.footer-top .footer-links {
		display: grid;
		grid-template-columns: auto auto auto;
	}

		.footer-top .footer-links .group-links {
			display: flex;
			flex-direction: column;
		}

			.footer-top .footer-links .group-links a {
				position: relative;
				font-size: 16px;
				margin-bottom: 10px;
			}

				.footer-top .footer-links .group-links a:hover {
					text-decoration: underline;
				}


	/* Footer - right */
	.footer-top .right-container {
	}

	.footer-top .newsletter-holder .title {
		font-size: 22px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	.footer-top .newsletter-holder .form-holder .form-row {
		margin-bottom: 10px;
		width: 100%;
	}

		.footer-top .newsletter-holder .form-holder .form-row.columns {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

			.footer-top .newsletter-holder .form-holder .form-row.columns input:first-child {
				margin-right: 10px;
			}

			.footer-top .newsletter-holder .form-holder .form-row.columns input {
				width: 50%;
			}

		.footer-top .newsletter-holder .form-holder .form-row .company,
		.footer-top .newsletter-holder .form-holder .form-row .email {
			width: 100%;
		}

	.footer-top .newsletter-holder .form-holder input[type=text],
	.footer-top .newsletter-holder .form-holder input[type=email] {
		background-color: #fff;
		color: #000;
		border: 1px solid #DCDFE6;
		padding: 6px;
	}


	.footer-top .newsletter-holder .button-holder .button {
		margin: 0;
		width: 100%;
		text-align: center;
	}


	/* Social Buttons */
	.footer-top .social-icons-holder {
		margin-top: 30px;
	}

		.footer-top .social-icons-holder .social-icons {
			display: flex;
			gap: 20px;
		}

			.footer-top .social-icons-holder .social-icons a {
				position: relative;
				display: inline-block;
				width: 40px;
				height: 40px;
				justify-self: center;
				background-color: #fff;
				border-radius: 50%;
			}

				.footer-top .social-icons-holder .social-icons a:hover {
				}


				.footer-top .social-icons-holder .social-icons a:first-child {
					margin-left: 0px;
				}

				.footer-top .social-icons-holder .social-icons a:last-child {
					margin-right: 0px;
				}

				.footer-top .social-icons-holder .social-icons a:before {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 28px;
					height: 24px;
					background-size: cover;
				}

			.footer-top .social-icons-holder .social-icons .facebook:before {
				background-image: url('../images/icon-facebook.png');
			}

			.footer-top .social-icons-holder .social-icons .instagram:before {
				background-image: url('../images/icon-instagram.png');
			}

			.footer-top .social-icons-holder .social-icons .linkedin:before {
				background-image: url('../images/icon-linkedin.png');
			}

/* Footer Bottom */
.footer-bottom {
	background-color: #000;
	margin: 0 auto;
}

	.footer-bottom .bottom-links {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
		align-items: center;
		padding: 15px 0;
	}

		.footer-bottom .bottom-links a {
			color: #c4c5c5;
			text-decoration: underline;
			font-size: 14px;
		}

			.footer-bottom .bottom-links a:hover {
				color: #fff;
			}

			.footer-bottom .bottom-links a + a {
				margin-left: 20px;
			}

	.footer-bottom .rights-reserved {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
		padding: 0 0 15px 0;
		font-size: 14px;
	}


/* Products */
.products {
}

.products-wrapper {
	position: relative;
	width: 100%;
	display: flex;
	max-width: 1600px;
    margin: 20px auto;
    justify-content: center;
    justify-items: center;
    gap: 50px;
	padding: 0 20px;
}


.products-wrapper .filters-holder {
	flex-shrink: 0;
	width: 250px;
}

.products-wrapper .filters-holder.animation {
	-webkit-animation: slide-from-right 10s;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.products-wrapper .filters-holder.active {
	-webkit-animation: slide-from-left 0.1s;
}

.filters-holder .filters-content {
	position: relative;
}

.filters-holder .filters-content .close {
	position: absolute;
	top: 5px;
	right: 0;
	display: block;
}

.filters-holder .filters-content .close:after {
	content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../images/icons-close-white.svg) center no-repeat;
    cursor: pointer;
}

.filters-holder .filters-content .main-title {
	font-size: 24px;
}

.filters-holder .filters-content .filter-group .title{
	font-size: 16px;
	font-weight: 500;
	border-bottom: 1px solid #cfcfcf;
	padding: 8px 0;
}

.filters-holder .filters-content .filter-group .filter-options {
	padding: 5px 20px;
}

.filters-holder .filters-content .filter-group .filter-options .item {
	margin: 3px 0;
}

.filters-holder .filters-content .filter-group .filter-options label {
	cursor: pointer;
	font-size: 14px;
}

.filters-holder .filters-content .filter-group .filter-options input[type=checkbox] {
	accent-color: #111;
	margin-right: 4px;
}

.filters-holder .filters-content .action-buttons {
	margin: 20px 0;
	display: none;
}

.products-holder {
	position: relative;
	margin: 0 auto;
	padding: 0;
}

.products-holder .header {
	display: flex;
	justify-content: space-between;
	gap: 50px;
}

.products-holder .header .action-buttons {
	display: flex;
	gap: 20px;
	align-items: center;
	margin: 0 0 10px 0;
}

.products-holder .header .action-buttons .open-filters-button {
	display: none;
	position: relative;
	background-color: #000;
	color: #fff;
	padding:  7px 20px 7px 50px;
	width: 315px;
}

.products-holder .header .action-buttons .open-filters-button:before {
	content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 23px;
    height: 23px;
    background: url("../images/icon-filters.png") left no-repeat;
    padding-right: 35px;
}

.products-holder .header .action-buttons .search-holder {
	width: 310px;
	position: relative;
}


.products-holder .header .action-buttons .search-holder:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 23px;
    height: 23px;
    background: url("../images/icon-search-yellow.png") left no-repeat;
    padding-right: 35px;
}

.products-holder .header .action-buttons .search-holder input {
	padding: 6px 10px 6px 45px;
    width: 100%;
    background-color: #f3f3f3;
}

.products-holder .statistics {
	margin: 15px 0;
	letter-spacing: 2px;
}

	.products-holder .products-grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 30px;
	}

.product-item {
	text-align: center;
	text-decoration: none;
}

.product-item .image-holder {
	margin-bottom: 10px;
	position: relative;
	border: 1px solid #cfcfcf;
	overflow: hidden;

	position: relative;
	max-width: 100%;
}

	.product-item .image-holder img {
		max-width: 100%;
		width: 100%;
		object-fit: cover;
		aspect-ratio: 1/1;
	}

	.product-item .image-holder img.image-hover {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		object-fit: cover;
		opacity: 0;
		transition: opacity 0.5s;
	  }

	 

	  .product-item:hover .image-holder img.image-hover {
		opacity: 1;

		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		transform: scale(1.05);
	  }

	/*.product-item:hover .image-holder img {
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		transform: scale(1.1);
	}*/


.product-item .title {
	font-size: 21px;
	line-height: 1.25em;
	font-weight: 500;
}

/* Product Details */
.product-details{
	margin-top: 20px;
}
.product-holder {
	margin: auto;
	padding: 0px 40px;
	max-width: 1400px;
}

	.product-holder .product-header {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: center;
		box-sizing: border-box;
		margin: 0px auto;
	}

	.product-holder .images-holder{
		margin-right: 40px;
	}

	.product-holder .images-holder .image-holder {
		width: 100%;
		max-width: 550px;
		max-height: 550px;
		overflow: hidden;
	}

	.product-holder .images-holder .thumbnails-holder {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 10px;
		margin-top: 10px;
	}

	.product-holder .images-holder .thumbnails-holder img {
		width: 70px;
		cursor: pointer;
	}
	
	.product-holder .images-holder .thumbnails-holder img.active {
		border: 1px solid #ffdd00;
	}

	.product-holder  .details-holder .upper-title{
		text-transform: uppercase;
		font-weight: 500;
	}

	.product-holder .product-header .details-holder {
		max-width: 700px;
		margin-top: 50px;
	}

	.product-holder  .details-holder .title {
		font-weight: 700;
		line-height: 1.25em;
		font-size: 42px;
		letter-spacing: 1px;
		margin-bottom: 20px;
	}
	
	.product-holder  .details-holder .description{
		margin-bottom: 20px;
		margin-top: 20px;
	}
	
	.product-holder  .details-holder .product-info{
	}
	
	.product-holder  .details-holder .product-info .info-item {
		margin-bottom: 5px;
	}


	.product-holder  .details-holder .product-info .info-item .title{
		font-size: 16px;
		margin: 0;
		display: inline-block;
	}
	.product-holder  .details-holder .product-info .info-item .value{
		display: inline-block;
	}
	.product-holder .details-holder .tags{
		margin-bottom: 20px;
	}

	.product-holder .details-holder .title {
		display: inline;
		font-weight: bold;
	}
	
	.product-holder .details-holder .tags a {
		font-weight: bold;
	}

	.product-holder .details-holder .tags .title:before {
		content: '';
		display: inline-block;
		width: 25px;
		height: 25px;
		background: url(../images/icons-tag-yellow.svg) left no-repeat;
		margin-right: 10px;
		vertical-align: middle;
	}

	.product-holder .details-holder .tags a::after{
		content: ',';
		display: inline-block;
	}

	.product-holder .details-holder .tags a:last-child::after{
		content: '';
	}

	.product-holder .details-holder .buttons-holder{
		display: flex;
		/* white-space: nowrap; */
		gap: 25px;
		align-items: center;
	}

    .details-bottom{
		max-width: 100%;
		margin-top: 40px;
	}

	.details-bottom .details-holder {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: left;
		align-items: stretch;
		align-content: center;
		box-sizing: border-box;
		white-space: nowrap;
	}
	.details-bottom .details-holder .tabs-holder {
		width: 100%;
	}
	.details-bottom .details-holder .tabs-holder .tabs {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		grid-gap: 0px;
	}

	.details-bottom .details-holder .tab-section .tab-title.mobile {
		display: none;
	}

	.details-bottom .details-holder .tab-label.active {
		background-color: #ffdd00;
	}

	.details-bottom .details-holder .tab-label:first-child {
		border-left: none;
	}
	.details-bottom .details-holder .tab-label {
		padding: 15px;
		/* color: rgba(255,255,255,0.5); */
		border: 1px solid #ffdd00;
		font-weight: 500;
		letter-spacing: 2px;
		text-align: center;
		white-space: normal;
		display: inline-block;
		cursor: pointer;
	}
	.details-bottom .details-holder .tab-label:before {
		font-weight: normal;
		margin-right: 10px;
	}
	
	.details-bottom .details-holder .tab-section {
		width: 100%;
		background-color: #ffdd00;
	}
	.details-bottom .details-holder .tab-section .tab-content {
		padding: 50px;
		border-bottom: 1px solid #ffdd00;
		background-color: #fff;
	}

	.related-recipes{
		padding: 30px 40px;
		max-width: 1200px;
		margin: auto;
	}	
	.related-recipes .main-title{
		font-size: 36px;
    	letter-spacing: 1px;
        text-align: left;
        margin: 20px 0 20px 0;
		font-weight: bold;

	}
	.related-recipes .sub-title{
		font-size: 24px;
        text-align: left;
		margin-bottom: 20px;
	}
	.related-recipes .recipes-holder{
		display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        padding-bottom: 30px;
	}

	.related-recipes .relative-item{
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		transform: scale(1.05);
	}

	


	.related-recipes .recipes-holder .relative-item .title {
		font-weight: normal;
		margin: 20px 0;
		white-space: normal;
		text-align: center;
		font-weight: 500;
		font-size: 21px;
		line-height: 1.25em;
	}


	.product-range-holder{
		position: relative;
		overflow: hidden;
		background-size: cover;
		text-align: center;
		color: #fff;
		padding: 20px 0;
		/* background-color: #706259; */
		background: url('https://www.mccain-foodservice.pl/wp-content/uploads/2019/07/Ambiance_210800_Rosti-3-kant-1.jpg') no-repeat center;
		background-size: cover;
		min-height: 320px;
		margin-top: 40px;
	}

	.product-range-holder:after{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: #000;
		opacity: 0.4;
	}

	.product-range-holder .content-holder{
		display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: center;
        align-items: center;
		width: 600px;
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	.product-range-holder .content-holder .main-title{
		width: 100%;
		font-size: 2.5rem;
		line-height: 1.3em;
    	letter-spacing: 1px;
        text-align: center;
        padding: 20px 0px 20px 0px;
		font-weight: bold;
	}

	.product-range-holder .content-holder .image-holder{
		flex: 50%;
		margin-right:0;
	}
	.product-range-holder .content-holder .image-holder a{
		display: block;
		max-width: 300px;
		margin: 0 auto;
	}
	.product-range-holder .content-holder .image-holder a img{
		max-height: 200px;
	}

	.product-range-holder .content-holder .details{
		-ms-flex: 50%;
            flex: 50%;

	}

	/* Cards with description and title*/
	.grid-items{
		padding: 30px 40px;
		max-width: 1200px;
		margin: auto;
	} 
	
	.grid-items .main-title{
		font-size: 36px;
    	letter-spacing: 1px;
        text-align: left;
        padding: 20px 0px;
		font-weight: bold;

	}
	.grid-items .sub-title{
		font-size: 18px;
        text-align: center;
		margin-bottom: 20px;
	}

	.grid-items.three .cards{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        padding-bottom: 30px;
	}
	.grid-items .card{
		border: none;
	}

	.grid-items .card .title {
		font-weight: normal;
		margin: 20px 0;
		white-space: normal;
		text-align: center;
		font-weight: 500;	
		font-size: 21px;
		line-height: 1.25em;
	}

	.grid-items .card .description{
		font-size: 14px;
		font-weight: normal;
		margin-bottom: 5px;
		margin-top: 5px;
		white-space: normal;
		text-align: center;
	}


	.contact-wrapper{
		position: relative;
		background-color: #706259;
		padding: 30px;
	}
	.contact-wrapper .image-holder{
	}
	.contact-wrapper .image-holder img{
		margin: auto;
		display: block;
		max-height: 100px;
	}

	.contact-wrapper .title{
		text-align: center;
		color: #ffffff;
		margin: 10px 0;
		font-size: 36px;
		font-weight: 700;

	}
	.contact-wrapper .text{
		text-align: center;
		color: #ffffff;
		margin: 10px 0 20px 0;
		font-size: 16px;

	}

	/* Breadcrumb */
	.breadcrumb-holder {
		max-width: 1600px;
		margin: 0px auto;
		padding: 12px 20px;
	}
	
		.breadcrumb-holder .breadcrumb {
			padding: 0;
			margin: 0;
		}
	
			.breadcrumb-holder .breadcrumb li {
				padding-right: 10px;
				font-weight: 500;
				letter-spacing: 1px;
				text-align: center;
				white-space: normal;
				display: inline-block;
				font-size: 14px;
			}			
	
				.breadcrumb-holder .breadcrumb li:last-child {
					padding: 0px;
				}
	
				.breadcrumb-holder .breadcrumb li:after {
					content: '>';
					padding-left: 10px;
				}
	
				.breadcrumb-holder .breadcrumb li:last-child:after {
					content: '';
				}

				.breadcrumb-holder .breadcrumb a:hover {
					text-decoration: underline;
				}

/* Our Brands */
.brands-holder{
	padding: 30px 40px;
}

.brands{
	position: relative;
	margin: auto;
    max-width: 1200px;
}

	.brands .title{
		font-size: 36px;
		font-weight: 700;
		margin: 20px 0 20px 0;
	}

	.brands .cards-holder{
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(6, 1fr);
	}
	.brands .cards-holder .card{
		width: 100%; 
		padding-top: 25%;
		padding-bottom: 25%;
		background-color: #ffdd00;
		border-radius: 0;
	}

	.brands .cards-holder .card a{
		margin: auto;
	}

/* Trendy Recipes widget */
.trendy-recipes-widget{
	padding: 30px 40px;
}

	.trendy-recipes-widget .trendy-recipes{
		margin: auto;
		max-width: 1200px;
		display: grid;
		grid-template-columns: 2fr 1fr;
	}
	.trendy-recipes-widget .trendy-recipes .media-holder iframe{
		padding-top: 30px;
		width: 100%;
		height: 100%;
	}
	.trendy-recipes-widget .trendy-recipes .recipes-holder{
	}

	.trendy-recipes-widget .trendy-recipes .grid-items{
		margin: auto;
		padding: 30px 0 20px 30px;
	} 
	
	.trendy-recipes-widget .trendy-recipes .grid-items.two .cards{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
        gap: 20px;
		flex-wrap: wrap;
	}

	
	.trendy-recipes-widget .trendy-recipes .grid-items .card{
		border: none;
	}

	.trendy-recipes-widget .trendy-recipes .grid-items .card .title{
		font-weight: normal;
		margin: 20px 0;
		white-space: normal;
		text-align: center;
		font-weight:500;
		font-size: 21px;
    	line-height: 1.25em;
	}


	/* Our newest products */
	.our-newest-products{
		
	}
	
	.our-newest-products .grid-items.three {
		
	}
	
	.our-newest-products .main-title{
		
	}

	.our-newest-products .cards{
	}

	.our-newest-products .cards .card{
	
	}

	/* Slick Slider */
	.slider-wrapper{
		padding: 30px 40px;
		max-width: 1200px;
		margin: auto;
	}

		.slider-wrapper .main-title{
			font-size: 36px;
			letter-spacing: 1px;
			text-align: left;
			margin: 20px 0 20px 0;
			font-weight: bold;
		}

		.slider-wrapper .slider{
			padding: 0px 50px;
		}

			.slider-wrapper .slider .slide{
				padding: 0 20px;
			}

				.slider-wrapper .slider .slide a .image-holder{
					margin-bottom: 10px;
					position: relative;
					border: 1px solid #cfcfcf;
					overflow: hidden;
					position: relative;
					max-width: 100%;
				}

                    .slider-wrapper .slider .slide a .image-holder img {
						max-width: 100%;
						width: 100%;
						object-fit: cover;
						aspect-ratio: 1/1;
                    }
				.slider-wrapper .slider .slide a .title{
					text-align: center;
					margin-top: 10px;
					font-size: 21px;
    				line-height: 1.25em;
				}

	/* Arrows */
	.slider-wrapper .slider .slick-prev{
		background-image: url("../images/chevron-left.svg");
		left: -10px;
	}
	.slider-wrapper .slider  .slick-next{
		background-image: url("../images/chevron-right.svg");
		right: -10px;
	}
	
	.slider-wrapper .slider .slick-prev,
	.slider-wrapper .slider .slick-next
	{
		background-color: transparent;
		color: transparent;
		border: none;
		width: 50px;
		height: 50px;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 50%;
		-webkit-transform: translate(0,-50%);
		transform: translate(0,-50%);
		outline: 0;
	}

/* Grid Section */
.grid-section{
	padding: 30px 40px;
}

.grid-section .grid{
	margin: auto;
	max-width: 1200px;
}

.grid-section .grid .col-2{
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 30px;
}
.grid-section .item .row-2{
	display: flex;
	position: relative;
	flex-wrap: wrap;
	row-gap: 20px;
}

.grid-section .item .row-2 .item{
	width: 100%;
}

.grid-section .image-holder{
	overflow: hidden;
	height: 100%;
}
.grid-section .image-holder img{
	height: 100%;
}


.grid-section .col-2 .item{
	position: relative;
}

.grid-section .grid .col-2 .item .content{
	position: absolute;
	bottom: 35%;
	left: 40px;
}
.grid-section .grid .col-2 .item .content .title{
	color: #ffffff;
	font-size: 36px;
}

.grid-section .grid .col-2 .item .content .sub-title{
	color: #ffffff;
	font-size: 21px;
	margin-bottom: 10px;
}

.grid-section .grid .row-2 .item .content{
	position: absolute;
	left: 10%;
	padding: 0;
	bottom: 10%;
}

.grid-section .grid .row-2 .item .content .title{
	color: #ffffff;
	font-size: 21px;
	font-weight: 500;
}

.grid-section .grid .row-2 .item .content .sub-title{
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 10px;
}

/* Product Nutrition Table */
.nutrition {
    max-width: 800px;
    margin: 0px auto;
}

    .nutrition .title {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 2.8px;
        text-transform: uppercase;
    }

    .nutrition .nutrition-details {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        align-items: stretch;
        align-content: center;
        box-sizing: border-box;
		margin: 0px 20px;
    }

        .nutrition .nutrition-details .nutrition-column {
			width: 100%;
        }

        .nutrition .nutrition-details .row-item {
            display: table;
            width: 100%;
            border-bottom: 1px solid #616467;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }

            .nutrition .nutrition-details .row-item .left {
                display: inline-block;
                font-size: 14px;
                width: 60%;
                white-space: normal;
            }

            .nutrition .nutrition-details .row-item .right {
                display: inline-block;
                font-size: 14px;
                width: 40%;
                text-align: right;
                white-space: normal;
            }

            .nutrition .nutrition-details .row-item.normal {
                font-size: 14px;
                letter-spacing: 0.88px;
            }

                .nutrition .nutrition-details .row-item.normal.with-tab {
                    padding-left: 20px;
                }

            .nutrition .nutrition-details .row-item.bold {
                font-size: 14px;
                letter-spacing: 0.88px;
                font-weight: bold;
            }
	/* Product Ingredients Tab*/
	.ingredients {
		max-width: 1150px;
		margin: 0px auto;
		white-space: normal;
	}
	
		.ingredients p {
			font-size: 14px;
			letter-spacing: 0.88px;
		}
/* Product Allergens Tab*/
.allergens {
	max-width: 1150px;
    margin: 0px auto;
    white-space: normal;
}

    .allergens .title {
        width: 100%;
        text-align: center;
        font-size: 14px;
        white-space: normal;
		margin-bottom: 20px;
    }

    .allergens .icon-holder {
        display: flex;
  		justify-content: center;
		gap:30px;
    }

   .allergens .icon {
        margin: 0px 20px;
    }

	.allergens .icon-title {
        text-align: center;
		margin-top: 10px;
    }

        .tabs-columns.allergens .icon img {
        }

        .tabs-columns.allergens .icon .icon-title {
            text-align: center;
            font-size: 14px;
        }
/* Product Tab Section*/
.tab-section-item .tabs-columns {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: inherit;
	align-items: stretch;
	align-content: center;
	box-sizing: border-box;
}
.tab-section-item .column {
    width: calc(100% * 1/3 - 20px);
    border-right: 1px solid #626669;
    padding-left: 20px;
}

.tab-section-item .column:nth-child(3n) {
	border-right: none;
}

.tab-section-item .column .title {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2.8px;
	text-transform: uppercase;
}
.tab-section-item .column .row-item .title {
	display: inline-block;
	width: 35%;
	font-size: 14px;
	font-weight: normal;
	text-transform: inherit;
	letter-spacing: 0.88px;
	white-space: normal;
	vertical-align: top;
	margin-bottom: 7px;
}
.tab-section-item .column .row-item .value,
.tab-section-item .column .row-item .value p {
	display: inline-block;
	width: 65%;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.88px;
	white-space: normal;
	padding-right: 20px;
}

.tab-section-item .column .row-item .value p {
	width: 100%;
	padding-right: 0px;
}

/* Product Preparation & Storage Tab */
.preparation .icon {
	max-width: 84px;
}

.preparation .column .preparation-item {
	white-space: normal;
	padding-right: 20px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	box-sizing: border-box;
}

.preparation .column .preparation-item .icon {
	max-width: 84px;
}

.preparation .column .preparation-item .icon img {
	-ms-border-radius: inherit;
	border-radius: inherit;
}

.preparation .column .preparation-item .value {
	padding-left: 20px;
}

.preparation .column .preparation-item .value {
	max-width: calc(100% - 84px);
	font-size: 14px;
	letter-spacing: 0.88px;
}

/* Claims */
.claims-content {
	max-width: 800px;
	margin: 0 auto;
	font-size: 14px;
	text-align: center;
}


/* FAQs */
.faq {
}

.faq .faq-holder {
	margin: auto;
}

.faq .faq-holder .faq-item {
	padding: 50px 20px;
    border-top: 1px solid #000;
	padding: 30px 40px;
}

.faq-holder .faq-item .faq-item-inner {
    max-width: 1140px;
    margin: 0 auto;
}

.faq .faq-holder .faq-item .title-holder {
	position: relative;
	padding-right: 30px;
	margin: 0px auto;
    cursor: pointer;
}

.faq .title-holder .text {
    font-size: 24px;
    margin-bottom: 20px;
}

.faq .faq-item .title-holder:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 20px;
    height: 25px;
	background-image: url("../images/icon-arrow-faq.png");
    background-position: right;
    background-size: cover;
}

.faq .faq-item.active .title-holder:after {
    transform: rotate(90deg);
}

.faq .faq-holder .faq-item .title-holder .title {
	font-size: 29px;
    font-weight: bold;
    margin-bottom: 20px;
}

.faq .faq-holder .faq-item .content {
	display: none;
	margin: 0px auto;
}

.faq .faq-holder .faq-item.active .content {
    display: block;
	padding-right: 40px;
	position: relative;
}

.faq .faq-holder .faq-item .question {
    position: relative;
    margin-bottom: 10px;
    padding-left: 40px;
}

.faq-holder .faq-item .question:before {
    content: 'Q:';
    position: absolute;
    left: 0px;
    font-weight: bold;
    line-height: 1.5em;
    font-size: 21px;
}

.faq-holder .faq-item .answer {
    position: relative;
    padding-left: 40px;
}

.faq-holder .faq-item .answer:before {
    content: 'A:';
    position: absolute;
    left: 0px;
    font-weight: bold;
    line-height: 1.5em;
    font-size: 21px;
}

.faq .faq-holder .faq-item.active {
    /* background-color: #ffdd00; */
}

.faq .faq-holder .faq-item p {
    margin-bottom: 0;
    font-size: 21px;
}

.faq-holder .faq-sub-item {
    margin-bottom: 30px;
}


/* Extra large devices  */
@media only screen and (max-width: 1200px) {

	.button {
		padding: 15px 45px;
	}

	nav {
		padding: 20px 160px 20px 40px;
	}

		nav .main-items a + a {
			margin-left: 60px;
		}

	header .search-box-holder input {
		min-width: 300px;
	}


	/* Products Landing */
	.products-holder .products-grid {
		grid-template-columns: repeat(3, 1fr);
	}

	/* Product Details */
	.product-holder .details-holder .buttons-holder {
		gap: 20px;
	}
	.product-holder .details-holder .button-holder .button.button-download-file.yellow{
		padding: 5px 10px;
	}
	.product-holder .details-holder .button-holder .button.yellow{
		padding: 15px 10px;
	}

	.product-holder .images-holder .image-holder {
		min-width: 340px;
	}
	.product-holder {
		padding: 0px 20px;
	}


	
} 

/* Large devices (laptops/desktops) */
@media only screen and (max-width: 992px) {
	.button {
		font-size: 14px;
		font-weight: bold;
		padding: 15px 25px;
		text-transform: uppercase;
		margin: 0px auto;
		line-height: 1em;
	}

	/* Header */
	header .logo {
		min-width: 150px;
	}

	header .search-box-holder {
		margin: auto 0px auto 15px;
	}

		header .search-box-holder input {
			min-width: 220px;
		}

	nav .main-items a + a {
		margin-left: 20px;
	}

	nav .select-language .dropbtn {
		font-size: 14px;
		letter-spacing: 1px;
	}

	nav a {
		font-weight: 700;
		color: #000;
		text-decoration: none;
		font-size: 14px;
		letter-spacing: 1px;
		text-transform: uppercase;
		height: 100%;
	}

	/* Product Details */
	.product-holder .details-holder .buttons-holder {
		flex-wrap: wrap;
	}
	.details-bottom .details-holder .tab-label {
		padding: 10px;
	}


	/* Footer */
	footer .footer-top {
		grid-template-columns: 1fr 280px;
		/* padding: 30px 20px; */
	}

		footer .footer-top .social-icons-holder {
			grid-column: 1/4;
			margin-left: auto;
			margin-right: 15px;
		}

		footer .footer-top .left-container .item .title {
			font-size: 18px;
		}

		footer .footer-top .footer-links .newsletter-holder .title {
			font-size: 18px;
		}

	


	/* Products Landing */
	.products-wrapper .filters-holder {
		display: none;
	}

	.products-wrapper.filter-active .filters-holder {
		display: block;
		position: absolute;
		top: inherit;
		bottom: inherit;
		left: 50%;
		transform: translateX(-50%);
		padding: 20px;
		width: calc(100% - 40px);
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		z-index: 2;
		background-color: #111;
		color: #fff;
	}

	.filters-holder .filters-content .action-buttons {
		display: block;
	}

	.filters-holder .filters-content .filter-groups {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 25px;
	}

	.filters-holder .filters-content .filter-group .filter-options input[type=checkbox] {
		accent-color: #FFDD00;
	}

	.filters-holder .filters-content .filter-group .filter-options {
		padding: 5px;
	}

	.products-holder .header {
		flex-direction: column;
		gap: 10px;
	}
	
	.products-holder .header .action-buttons {
		justify-content: space-between;
	}

	.products-holder .header .action-buttons .open-filters-button {
		display: block;
	}

	

	/* Grid Section*/
	.grid-section .grid .col-2{
		width: 100%;
		display: grid;
		grid-template-columns: none;
		row-gap: 20px;
	}
	.grid-section .grid .row-2 .item .content{
		position: absolute;
		bottom: 35%;
		left: 40px;
	}
	.grid-section .grid .row-2 .item .content .title{
		color: #ffffff;
		font-size: 36px;
	}
	
	.grid-section .grid .row-2 .item .content .sub-title{
		color: #ffffff;
		font-size: 21px;
		margin-bottom: 10px;
	}

	/* Product Tab Section */
	.tab-section-item .column {
		width: 100%;
		padding: 20px 0px;
		border-right: none;
		border-bottom: 1px solid #626669;
	  }

}

/* Medium devices (landscape tablets) */
@media only screen and (max-width: 768px) {

	header .logo {
		width: 250px;
	}


	header .search-box-holder {
		font-size: 16px;
	}

		header .search-box-holder input {
			padding: 5px 5px;
		}

		header .search-box-holder a {
			background-color: #fcce01;
			width: 45px;
			line-height: 2em;
			padding: 5px;
			color: #000;
			text-align: center;
			text-decoration: none;
			display: block;
			top: 0;
			right: 0;
			cursor: pointer;
		}

			header .search-box-holder a:before {
				height: 22px;
				width: 22px;
				background-size: 22px;
			}


	header .nav-right {
		display: none;
	}

	header .menu-icon {
		margin: auto;
		display: flex;
		width: 45px;
		cursor: pointer;
	}

		header .menu-icon img {
			width: 45px;
		}

	head .menu-icon .menu-open {
		margin: auto;
	}

	/* header .menu-icon .menu-close {
		display: none;
	} */

	.menu-section {
		display: none;
	}


	footer {
	}

		footer .footer-top {
			grid-template-columns: 1fr 240px;
			column-gap: 10px;
		}

			footer .footer-top .left-container .item {
				grid-template-rows: repeat(1fr, 30px);
				justify-content: space-between;
				column-gap: 10px;
			}

				footer .footer-top .left-container .item a {
					font-size: 14px;
				}

				footer .footer-top .left-container .item .title {
					font-size: 16px;
				}

			footer .footer-top .footer-links .newsletter-holder .title {
				font-size: 16px;
			}

			footer .footer-top .newsletter-holder .form-holder .form-row.columns {
			}

				footer .footer-top .newsletter-holder .form-holder .form-row.columns input {
				}

	.form-check {
		font-size: 14px;
	}

	.footer-top .newsletter-holder .title {
		font-size: 22px;
	}
	

	/* Product Details */
	.product-holder .product-header {
		flex-wrap: wrap;
		flex-direction: column;
	}
	.product-holder .images-holder {
		margin-right: 0px;
		margin: auto;
	}
	.product-holder .details-holder .buttons-holder {
		gap: 25px;
		justify-content: center;
	}

	.product-range-holder .content-holder {
		max-width: 90%;
	}

	/* Tends Recipes */
	.trendy-recipes-widget .trendy-recipes{
		grid-template-columns: repeat(1, 1fr);
		margin: auto;

	}
	.trendy-recipes-widget .trendy-recipes .media-holder iframe{
		height: 65vw;
		margin: auto;
	}
	.trendy-recipes-widget .trendy-recipes .grid-items {
		margin: auto;
		padding: 30px 40px;
	}
}

@media only screen and (max-width: 700px) {
	footer .footer-top .social-icons-holder {
		grid-column: 1/4;
		margin: 30px 0;
	}

	footer .footer-top {
		display: block;
		padding-left: 30px;
		padding-right: 30px;
	}

	.footer-top .left-container,
	.footer-top .right-container {
		max-width: 450px;
		margin: auto;
	}
	/* Product Details */
	.details-bottom .details-holder .tabs-holder .tabs {
		display: none;
	}
	.details-bottom .details-holder .tab-section .tab-content {
		display: none;
	}
	.details-bottom .details-holder .tab-section .tab-section-item {
		display: block !important;
	}
	.details-bottom .details-holder .tab-section .tab-title.mobile {
		position: relative;
		display: block;
		padding: 10px 20px;
		background-color: #fff;
		border-top: 1px solid #ffdd00;
		cursor: pointer;
	}
	.details-bottom .details-holder .tab-section .tab-section-item.active .tab-title.mobile {
		background-color: #ffdd00;
	}
	.details-bottom .details-holder .tab-section .tab-section-item:last-child .tab-title.mobile {
		border-bottom: 1px solid #ffdd00;
	}
	.details-bottom .details-holder .tab-section .tab-title.mobile::after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
		width: 16px;
		height: 16px;
		cursor: pointer;
		background: url("../images/icons-plus.svg") no-repeat;
		background-size: cover;
		z-index: 1;
	}
	.details-bottom .details-holder .tab-section .active .tab-title.mobile::after {
		background: url("../images/icons-minus.svg") no-repeat;
	}

	.details-bottom .details-holder .tab-section .active .tab-content {
		display: block;
		padding: 20px;
	}

	.product-holder .details-holder .buttons-holder {
		flex-direction: column;
		align-items: baseline;
	}

	.product-holder .details-holder .button-holder,
	.product-holder .details-holder .button-holder .button.yellow {
		width: 100%;
		text-align: center;
	}


	.related-recipes .main-title {
		margin: 20px;
	}
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (max-width: 600px) {
	header .logo {
		min-width: 100px;
	}

	header .menu-icon {
		margin-left: 15px;
	}


	.products-holder .products-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 25px;
	}

	footer .footer-top {
		padding-left: 0px;
		padding-right: 0px;
	}

		footer .footer-top .social-icons-holder {
			grid-column: 1/4;
			margin: 30px 0;
		}

		footer .footer-top .left-container {
		}

			footer .footer-top .left-container .item {
				display: flex;
				flex-flow: column wrap;
				margin: auto;
				justify-content: center;
				align-items: center;
			}

				footer .footer-top .left-container .item .title {
					margin-bottom: 10px;
					margin-top: 10px;
				}

				footer .footer-top .left-container .item a {
					margin-bottom: 5px;
				}

	.footer-top .right-container {
	}


	/* Products Landing */
	.products-holder .header .action-buttons {
		flex-direction: column;
	}

	.products-holder .header .action-buttons .open-filters-button {
		width: 100%;
	}

	.products-holder .header .action-buttons .search-holder {
		width: 100%;
	}
	/* Tends Recipes */
	.trendy-recipes-widget .trendy-recipes .grid-items {
		margin: auto;
		padding: 30px 0px;
	}
	/* Product Details */
	.product-details .related-recipes .recipes-holder {
		grid-template-columns: repeat(1, 1fr);
	}
	.product-details .related-recipes .recipes-holder .relative-item{
		max-width: 350px;
		margin: auto;
	}

	/* Grid Section */
	.grid-items.three .cards {
		grid-template-columns: repeat(1, 1fr);
	}
	.grid-items.three .cards .card{
		max-width: 350px;
		margin: auto;
	}
}

@media only screen and (max-width: 480px) {
	header .search-box-holder {
		max-width: 50%;
		min-width: 40%;
	}

		header .search-box-holder input {
			max-width: 100%;
			min-width: 40%;
			width: unset;
		}

	/* Mobile menu*/
	.mobile-menu-section .menu-icon img{
		width: 24px;
	}
	.mobile-main-navigation .main-items>ul>li>ul li a {
		font-size: 14px;
	}

	.mobile-menu-section ul {
		padding-left: 1rem;
	}

	.mobile-menu-section nav {
		padding: 20px 0px 0px 0px;
	}

	.mobile-menu-section a {
		font-size: 18px;
	}
	
	.products-holder .products-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 25px;
	}

	footer {
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 0px;
	}

	.footer-top .footer-links {
		display: block;
		text-align: center;
	}

	.footer-top .social-icons-holder .social-icons {
		display: flex;
		gap: 20px;
		justify-content: center;
		margin-bottom: 50px;
	}

	.footer-bottom .bottom-links a + a {
		margin: 0 0 10px 0;
	}

	.footer-bottom .bottom-links a {
		margin: 0 0 10px 0;
	}

	.footer-bottom .bottom-links {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
		align-items: center;
		padding: 15px 0;
		flex-direction: column;
	}

	.footer-top .newsletter-holder .title {
		font-size: 20px;
	}

	.footer-bottom .rights-reserved {
		text-align: center;
	}
}

@media only screen and (max-width: 320px) {
	header .logo {
		max-width: 70px;
		min-width: 70px;
	}

	header .menu-icon {
		display: flex;
		width: 24px;
		cursor: pointer;
	}

	header .search-box-holder {
		padding: 0;
		margin: 0 0 0 15px;
		max-width: 150px;
		min-width: 150px;
	}

		header .search-box-holder input {
			max-width: 100%;
			min-width: 50px;
		}

		header .search-box-holder a {
			background-color: #fcce01;
			width: 32px;
			line-height: 1em;
			padding: 5px;
			color: #000;
			text-align: center;
			text-decoration: none;
			display: block;
			top: 0;
			right: 0;
			cursor: pointer;
		}

			header .search-box-holder a:before {
				height: 16px;
				width: 16px;
				background-size: 16px;
			}


	body,
	header,
	footer {
		min-width: 320px;
	}
}
