//breakpoints
@import '_mixins';
$row1650: 1650px;
$row1560: 1560px;
$row1480: 1480px;
$row1460: 1460px;
$row1400: 1400px;
$row1280: 1280px;
$row1260: 1260px;
$row1100: 1100px;
$row: 1140px;
$md: 960px;
$sm: 768px;
$xs: 480px;

//main color
$a: #fd7422;
$b: #fec72e;
$c: #fff9dc;

$border: #cccccc;
$text: #1e1e1b;
$menu: $a;

$inputH: 40px;

//social media color
$facebook: #3b5993;
$twitter: #55acee;
$instagram: #181818;
$linkedin: #0177b5;
$youtube: #f80000;
$pinterest: #bd081c;
$vimeo: #1bb7ea;
$google_plus: #dd4c39;
$yelp: #d32323;

/* FONTS
   ========================================================================== */
$font: 'Brother1816', sans-serif;
$font2: 'Brother1816Printed', sans-serif;
$font3: 'McCainWedgeBrush', sans-serif;
$font4: 'RooneyPro', sans-serif;
$font5: 'Segoe UI', sans-serif;
$font6: 'MADEDillan', sans-serif;

//Brother1816 Font
@include declare-font('Brother1816', 'Brother-1816-Black', 900);
@include declare-font('Brother1816', 'Brother-1816-ExtraBold', 800);
@include declare-font('Brother1816', 'Brother-1816-Bold', 700);
@include declare-font('Brother1816', 'Brother-1816-Medium', 500);
@include declare-font('Brother1816', 'Brother-1816-Regular', 400);
@include declare-font('Brother1816', 'Brother-1816-Light', 300);

//Brother1816Printed
@include declare-font('Brother1816Printed', 'Brother1816Printed-Black', 900);
@include declare-font('Brother1816Printed', 'Brother1816Printed-ExtraBold', 800);
@include declare-font('Brother1816Printed', 'Brother1816Printed-Bold', 700);
@include declare-font('Brother1816Printed', 'Brother1816Printed-Medium', 500);
@include declare-font('Brother1816Printed', 'Brother1816Printed-Regular', 400);
@include declare-font('Brother1816Printed', 'Brother1816Printed-Light', 300);

//McCainWedgeBrush
@include declare-font('McCainWedgeBrush', 'McCainWedgeBrush-Regular', 400);

//MADE Dillan
@include declare-font('MADEDillan', 'MADEDillan', 400);

//RooneyPro
@include declare-font('RooneyPro', 'RooneyPro-Black', 900);
@include declare-font('RooneyPro', 'RooneyPro-Heavy', 800);
@include declare-font('RooneyPro', 'RooneyPro-Bold', 700);
@include declare-font('RooneyPro', 'RooneyPro-Medium', 500);
@include declare-font('RooneyPro', 'RooneyPro-Regular', 400);
@include declare-font('RooneyPro', 'RooneyPro-Light', 300);
