
* {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari, Edge */
    color-adjust: exact !important; /*Firefox*/
}

header {
    display: none;
}

footer {
    display: none;
}

.mobile-menu {
    display: none;
}

.main-menu {
    display: none;
}

.breadcrumb-holder {
    display: none;
}

/* Recipe Details */
.view-all {
    display: none;
}

.recipe-holder .content-holder .action-buttons {
    display: none;
}

.step-by-step {
    display: none;
}

.related-recipes {
    display: none;
}

.recipe-holder .main-info {
    padding: 0;
    margin: 0;
}

.recipe-directions .content {
    display: block;
}

.recipe-directions .title:after {
    display: none
}

.recipe-directions li {
    font-size: 12pt;
}

.recipe-directions a {
    font-size: 12pt;
}

.recipe-holder .heading .title {
    font-size: 21pt;
}

.recipe-holder .main-info .info-holder {
    margin-top: 0px;
    width: 700px;
}

.recipe-directions .title {
    font-size: 16pt;
}

.recipe-holder .price-table .table-cell .cell-price {
    font-size: 18pt;
}

.recipe-holder .images-holder .thumbnails-holder{
    display:none;
}
.recipe-holder .images-holder .image-holder {
    max-width: 450px;
    max-height: 450px;
}
