.air-fry-hat {
	&__section {
		position: relative;
		max-height: 86.5vh;
		min-height: 600px;


		@include for-size(1366px) {
			min-height: 400px;
		}

		@include for-size(1200px) {
			min-height: auto;
		}

		.air-fry-hat_slice {
			position: absolute;
			top: 65%;
			left: 60%;			

			@include for-size($sm) {
					left: 40%;
					transform: rotate(-110deg);
				}

			@include for-size($xs) {
				left: 30%;
				transform: rotate(-110deg);
			}
		}

		.image-holder {
			img {
				width: 100%;
			}

			
			/*&:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background-color: #000;
				opacity: 0.1;

				@include for-size ($sm) {
					opacity: 0.4;
				}
			}*/
		}

		> .content-holder {
			position: absolute;
			top: 50%;
			left: 75%;
			transform: translate(-50%,-50%);
			width: 50%;
			max-width: 800px;

			@include for-size(768px) {
				left: 50%;
				width: 80%;
				top: 55%;
			}
		}

		h1 {
			display: flex;
			flex-direction: column;
			align-items: center;	
			text-align: center;

			.text0 {
				font-family: $font4;
				font-size: 54px;
				font-weight: 900;
				font-style: normal;
				color: #fff9dc;				

				@include for-size(1366px) {
					font-size: 48px;						
				}

				@include for-size(992px) {
					font-size: 32px;						
				}
				
				@include for-size($sm) {
					font-size: 36px;
				}
			}

			.text1 {
				font-family: $font3;
				font-size: 120px;
				font-weight: 900;
				line-height: 1.4;
				font-style: normal;
				color: #fff9dc;

				@include for-size(1366px) {
					font-size: 90px;
				}

				@include for-size(992px) {
					font-size: 60px;						
				}

				@include for-size($sm) {
					font-size: 70px;
				}
			}

			.text2 {
				font-family: $font3;
				font-size: 60px;
				font-weight: normal;
				font-style: normal;						
				color: #fec72e;

				@include for-size(1366px) {
					font-size: 54px;
				}

				@include for-size(992px) {
					font-size: 32px;						
				}
			
				@include for-size($sm) {
					font-size: 36px;					
				}
			}

		}

		.cloud-bottom {
			position: absolute;
			bottom: 0;
			left: 0;
			width: fit-content;
			max-width: 450px;

			@include for-size(992px) {
				max-width: 350px;
			}

			@include for-size(768px) {
				max-width: 450px;
			}

			.arrow-nav-box {

				position: absolute;
				bottom: 20%;
				left: 10px;
				
				.content-holder {
					display: flex;
					align-items: center;

					font-family: $font4;
					font-size: 40px;
					line-height: 1.1;
					font-weight: 900;
					font-style: normal;
					text-align: left;
					color: #1e1e1b;

					@include for-size(992px) {
						font-size: 32px;
					}

					@include for-size($sm) {
						font-size: 40px;
					}

					.arrow {
						width: 80px;
						margin-right: 5px;
	
						@include for-size(992px) {
							width: 50px;
						}

						@include for-size($sm) {
							width: 56px;
						}
					}
	
					.highlight {	
						font-family: $font3;
						font-weight: normal;
					}
				}
			}
		}
	}
}


/* Tips Slider */
$fry_tips_slider_mobile_breakpoint: 768px;

$arrow_thin_arrow_1: url('../img/airfryer/tips/arrows/arrow-thin-left-1.png');
$arrow_thin_arrow_2: url('../img/airfryer/tips/arrows/arrow-thin-left-2.png');
$arrow_thick_arrow_1: url('../img/airfryer/tips/arrows/arrow-thick-right.png');
$arrow_thick_arrow_2: url('../img/airfryer/tips/arrows/arrow-thick-right-2.png');
$arrow_normal_arrow_1: url('../img/airfryer/tips/arrows/arrow-normal-left-1.png');


.fryer-tips {
	position: relative;
	background-image: url("../img/airfryer/orange-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.title {
		position: absolute;
		top: 33%;
		left: 13%;			
	
		@include for-size ($fry_tips_slider_mobile_breakpoint) {
			position: relative;
			top: 0;
			left: 0;
		}

		h2 {
			font-family: $font3;
			font-size: 120px;
			font-weight: normal;
			font-style: normal;
			text-align: center;
			color: #1e1e1b;
			text-transform: uppercase;

			@include for-size ($row1560) {
				font-size: 105px;
			}

			@include for-size ($row1280) {
				font-size: 90px;
			}

			@include for-size ($sm) {
				font-size: 60px;
			}
			
		}			
	}

	.fryer-tips_slider {
		padding: 50px 0 50px 0;

		@include for-size (1366px) {
			zoom: 0.8;
		}

		@include for-size (1200px) {
			zoom: 0.7;
		}

		@include for-size (992px) {
			zoom: 0.6;
		}

		@include for-size ($fry_tips_slider_mobile_breakpoint) {
			zoom: 1;
			padding: 40px 0 20px 0;
		}

		// Photos
		.polaroid-photo {
			position: relative;
			display: inline-block;
			width: 380px;
			padding: 30px 30px 100px;
		
			background: #ffffff;
			border-radius: 5px;

			-webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, .6);
			-moz-box-shadow: 0 7px 10px rgba(0, 0, 0, .6);
			box-shadow: 0 7px 10px rgba(0, 0, 0, .6);			
			
			@include for-size ($sm) {
				padding: 15px 15px 60px;
				width: 250px;
			}
		}

		.photo1 {
			position: relative;		
			transform: rotate(-11deg);
		}

		.photo2 {
			position: relative;
			transform: rotate(11deg);
		}

		.photo3 {
			position: relative;
			transform: rotate(357deg);
		}

		.photo4 {
			position: relative;
			transform: rotate(345deg);
		}

		.prev-photo {
			position: absolute;
		}

		// Arrows
		.thin-arrow-1 {
			content: $arrow_thin_arrow_1;
			width: 170px;
		}

		.thin-arrow-2 {
			content: $arrow_thin_arrow_2;
			width: 140px;
		}

		.thick-arrow-1 {
			content: $arrow_thick_arrow_1;
			width: 150px;
		}

		.thick-arrow-2 {
			content: $arrow_thick_arrow_2;
			width: 150px;
		}

		.normal-arrow-1 {
			content: $arrow_normal_arrow_1;
			width: 130px;
		}

		// Text Elements
		p {
			font-family: $font3;
			font-size: 44px;
			font-weight: normal;
			line-height: 1;
			font-style: normal;
			text-align: center;
			color: #1e1e1b;
			padding-bottom: 0;			
			
			@include for-size (1366px) {
				font-size: 40px;
			}
		
			@include for-size ($sm) {
				font-size: 25px;
			}
		}

		// Navigation
		.slider-navigation {
			position: relative;
			margin: 0 auto;
			width: 130px;
			bottom: -50px;

			@include for-size (1366px) {
				width: 120px;
				bottom: -45px;
			}

			@include for-size ($sm) {
				width: 110px;
				bottom: -30px;
			}

			.swiper-button-prev,
			.swiper-button-next {
				position: absolute;
				z-index: 1;
				margin: 0;
				top: unset;
				padding: 0;
				height: 48px;
				width: 48px;
				border-radius: 50%;
				background-color: #fec72e;
				color: #1e1e1b;
				overflow: hidden;

				&::after {
					font-size: 26px;
					font-weight: 700;

					@include for-size ($sm) {
						font-size: 20px;
					}
				}

				@include for-size (1366px) {
					height: 40px;
					width: 40px;
				}

				@include for-size ($sm) {
					height: 33px;
					width: 33px;
				}

				&::before {
					content: "";
					position: absolute;
					z-index: -1;
					background: #1E1E1B;
					border-radius: 50%;
					height: 200%;
					width: 150%;
					top: 100%;
					left: -150%;
					transition: all 0.3s ease-in-out;
					box-shadow: inset 0 0 0 1000px #1E1E1B;
					background-clip: padding-box;
				}

				&:hover {
					color: #fec72e;

					&::before {
						top: -40%;
						left: -30%;
						color: #1E1E1B;
					}
				}
			}
		}

		// Slide common
		.swiper-slide {
			text-align: center;
			padding: 0;

			.content-wrapper {
				width: fit-content;
				margin: 0 auto;
				padding: 35px 55px;
				position: relative;
				overflow: visible;
				//border: 1px solid greenyellow;

				@include for-size ($fry_tips_slider_mobile_breakpoint) {
					padding: 80px 40px 130px 40px;
				}

				.content-holder {
					z-index: 2;
				}
			}
		}

		// SLIDE 1
		.slide1 {
			.arrow1 {
				position: absolute;
				bottom: 5%;
				left: -20px;

				@include for-size ($fry_tips_slider_mobile_breakpoint) {
					top: 40px;
					left: 130px;
					content: $arrow_thin_arrow_1;
					transform: rotate(-50deg);
					width: 75px;
				}
			}

			.text1 {
				position: absolute;
				bottom: 15%;
				left: -220px;
				z-index: 2;

				@include for-size ($fry_tips_slider_mobile_breakpoint) {
					top: 0;
					left: 0;
				}
			}

			.arrow2 {
				position: absolute;
				top: 35%;
				right: -50px;

				@include for-size ($fry_tips_slider_mobile_breakpoint) {
					top: unset;
					bottom: 85px;
					left: unset;
					right: 30px;
					content: $arrow_thick_arrow_1;
					width: 60px;
				}
			}

			.text2 {
				position: absolute;
				top: 17%;
				z-index: 2;
				right: -430px;

				@include for-size ($fry_tips_slider_mobile_breakpoint) {
					top: unset;
					right: unset;
					bottom: 0;
					left: 0;
				}
			}
			
			.pot-potato {
				position: absolute;
				width: 210px;
				top: 50%;
				right: -150px;
				z-index: 2;

				@include for-size ($fry_tips_slider_mobile_breakpoint) {
					top: unset;
					right: unset;
					bottom: 100px;
					left: 20px;
					width: 100px;
				}
			}
		}

		// SLIDE 2
		.slide2 {
			.arrow1 {
				position: absolute;
				top: 21%;
				right: -70px;
				transform: rotate(180deg);

				@include for-size ($fry_tips_slider_mobile_breakpoint) {
					top: unset;
					bottom: 55px;
					left: 30px;
					content: $arrow_thick_arrow_1;
					width: 60px;
					transform: rotate(60deg) scaleX(-1);
				}
			}

			.text1 {
				position: absolute;
				top: 32%;
				right: -280px;

				@include for-size ($fry_tips_slider_mobile_breakpoint) {
					top: unset;
					right: unset;
					bottom: 0;
					left: 90px;
				}
			}
		}

		// SLIDE 3
		.slide3 {
			.arrow1 {
				position: absolute;
				bottom: 30%;
				left: -130px;

				@include for-size ($fry_tips_slider_mobile_breakpoint) {
					top: 10px;
					left: unset;
					right: 0;
					bottom: unset;
					transform: rotate(90deg);
					width: 60px;
				}
			}
		
			.text1 {
				position: absolute;
				bottom: 6%;
				left: -260px;
				z-index: 2;

				@include for-size ($fry_tips_slider_mobile_breakpoint) {
					top: -20px;
					left: 0;
					bottom: unset;
				}
			}

			.arrow2 {
				position: absolute;
				top: 27%;
				right: -70px;

				@include for-size ($fry_tips_slider_mobile_breakpoint) {
					top: unset;
					bottom: 60px;
					left: 20px;
					right: unset;
					content: $arrow_thin_arrow_1;
					width: 60px;
					transform: rotate(90deg);
				}
			}

			.text2 {
				position: absolute;
				top: 13%;
				right: -360px;
				z-index: 2;

				@include for-size ($fry_tips_slider_mobile_breakpoint) {
					top: unset;
					right: unset;
					bottom: 30px;
					left: 80px;
				}
			}

			.vibro-pot {
				position: absolute;
				width: 210px;
				top: 31%;
				right: -280px;
				z-index: 2;

				@include for-size ($fry_tips_slider_mobile_breakpoint) {
					top: 20px;
					right: 60px;
					width: 100px;
				}
			}
		}

		// SLIDE 4
		.slide4 {

			.arrow1 {
				position: absolute;
				top: 18%;
				right: -90px;

				@include for-size ($fry_tips_slider_mobile_breakpoint) {
					top: 80px;
					right: 0;
					content: $arrow_thin_arrow_1;
					transform: rotate(-60deg);
					width: 75px;
				}
			}

			.text1 {
				position: absolute;
				top: 18%;
				right: 0;
				right: -465px;
				z-index: 2;

				@include for-size ($fry_tips_slider_mobile_breakpoint) {
					top: -20px;
					left: auto;
					right: unset;
					bottom: unset;
				}
			}
			
			.arrow2 {
				position: absolute;
				top: 50%;
				right: -70px;

				@include for-size ($fry_tips_slider_mobile_breakpoint) {
					top: unset;
					bottom: 70px;
					left: 0;
					right: unset;
					content: $arrow_thick_arrow_1;
					width: 60px;
					transform: rotate(90deg) scaleX(-1);
				}
			}
		
			.text2 {
				position: absolute;
				top: 46%;
				right: -410px;
				z-index: 2;

				@include for-size ($fry_tips_slider_mobile_breakpoint) {
					top: unset;
					right: unset;
					bottom: 0;
					left: auto;
				}
			}
	
			.pot {
				position: absolute;
				width: 210px;
				bottom: 5%;
				left: -190px;
				z-index: 2;

				@include for-size ($fry_tips_slider_mobile_breakpoint) {
					top: unset;
					left: unset;
					bottom: 50px;
					right: 0;
					width: 100px;
				}
			}
		}
			
	}

	
	.fryer-tips-cloud {
		position: absolute;
		right: 0;
		bottom: -1px;

		@include for-size (768px) {
			position: relative;
		}

		.arrow {
			position: absolute;
			top: -14%;
			right: 10%;
			transform: rotate(-151deg);

			@include for-size ($sm) {
				width: 60px;
				top: -15%;
				right: 15%;

			}
		}

		.cloud {
			width: 675px;
			height: 235px;
			margin-left: auto;
			display: block;

			@include for-size ($sm) {
				width: 390px;
				height: 170px;
			
			}
		}

		p {
			position: absolute;
			top: 50%;
			right: 10%;
			font-family: $font3;
			font-size: 50px;
			font-weight: normal;
			line-height: 50px;
			font-style: normal;
			text-align: center;
			color: #fff9dc;

			@include for-size ($sm) {
				top: 40%;
				font-size: 30px;
				line-height: 30px;
			}
		}
	}
}

// Products Slider
.air-fryer-slide {
	&__section {
		position: relative;
		padding: 80px 0px;
		background-color: #1E1E1B;
		z-index: 1;

		@include for-size ($row) {			
			padding: 30px 0px 60px;
		}

		.air-fry-slide {
			text-align: center;

			figure {
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;	

				@include for-size ($sm) {
					background-size: contain;
				}
			}

			.air-fry-slide-bg1 {
				background-image: url("../img/airfryer/potato-bg-1.png");	
			}

			.air-fry-slide-bg2 {
				background-image: url("../img/airfryer/potato-bg-2.png");
			}

			.air-fry-slide-bg3 {
				background-image: url("../img/airfryer/potato-bg-3.png");
				
			}

			.air-fry-slide-bg4 {
				background-image: url("../img/airfryer/potato-bg-4.png");
			}

			img {
				width: 250px;
				height: 350px;
				padding: 25px;
				transition: all 0.4s;

				&:hover {
						transform: rotate(5deg);						
					}

				@include for-size($row) {
					width: 170px;
					height: 240px;
				}
			}

			p {
				display: block;
				margin: 0 auto;
				margin-top: 15px;
				max-width: 370px;
				font-family: $font4;
				font-size: 30px;
				font-weight: 900;
				line-height: 37px;
				font-style: normal;
				text-align: center;
				color: #fff9dc;

				@include for-size ($row) {
					font-size: 20px;
					line-height: 24px;
				}
			}

			a {
				font-size: 20px;
				font-weight: bold;
			}	
		}	

		.swiper-button-next,
		.swiper-button-prev {
			width: 56px;
			height: 56px;
			top: 40%;
			border-radius: 50%;
			background-color: $a;
			color: $text;
			margin: 0;
			border: none;
			z-index: 1;
			overflow: hidden;			

			&::after {
				font-size: 26px;
				font-weight: 700;			
			}

			&::before {
				content: "";
				position: absolute;
				z-index: -1;
				background: #FFF9DC;
				border-radius: 50%;
				height: 200%;
				width: 150%;
				top: 100%;
				left: -150%;
				transition: all 0.3s ease-in-out;
				box-shadow: inset 0 0 0 1000px #FFF9DC;
				background-clip: padding-box;
			}

			&:hover {
				color: #1E1E1B;

				&::before {
					top: -40%;
					left: -30%;
					color: #1E1E1B;
				}
			}

			@include for-size ($sm) {
				display: none;
			}
			
		}
		.swiper-button-next {
			right: 10%
		}
		.swiper-button-prev {
			left: 10%;
		}
	}
}

// Family Dinner
.airfryer-family-dinner {
	position: relative;
	overflow: hidden;

	.image-holder {
        img {
            width: 100%;
        }
    }

	.small-chips {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -120px;
		width: 360px;
		height: 360px;
		z-index: 1;
		background-image: url('../img/airfryer/FamilyDinner-slice.png');
		background-size: cover;

		@include for-size(1600px) {
			width: 300px;
			height: 300px;
			right: -100px;
		}

		@include for-size(1366px) {
			width: 240px;
			height: 240px;
			right: -80px;
		}

		@include for-size(992px) {
			width: 180px;
			height: 180px;
			right: -60px;
		}

		@include for-size(768px) {
			width: 250px;
			height: 250px;
			top: unset;
			right: unset;
			left: 50%;
			bottom:  -160px;
			transform: translateX(-50%);
		}
	
	}

	.content-holder {
		position: absolute;
		top: 50%;
		left: 72%;
		transform: translate(-50%,-50%);
		color: #fff;
		text-align: center;
		width: 35%;
		z-index: 2;
		max-width: 800px;

		@include for-size(768px) {
			left: 50%;
			top: 72%;
			width: 80%;
		}

		.title {
			text-align: center;
			position: relative;

			h2 {
				line-height: 0.8;	
				font-style: normal;
				font-family: $font3;
				font-size: 130px;
				margin-bottom: -25px;
				color: $b;
				
				span {
					display: block;
				}

				@include for-size(1366px) {
					font-size: 90px;
					margin-bottom: -20px;
				}

				@include for-size(992px) {
					font-size: 70px;
				}

				@include for-size(768px) {
					font-size: 100px;
				}

				@include for-size(600px) {
					font-size: 80px;
				}
								
			}

			p {
				font-size: 60px;
				font-weight: 400;
				line-height: 1;
				font-family: $font3;
				color: #1e1e1b;

				@include for-size(1366px) {
					font-size: 40px;
				}

				@include for-size(768px) {
					font-size: 36px;
				}
			}
		}
	}

}