
.medleys-hat {
	&__section{
		position: relative;		
		
		min-height:86.5vh;
		background-image: url("../img/medleys-hat-bg.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		@include for-size ($sm) {
			padding: 400px 0px;
			background-image: url("../img/medleys-hat-bg-mobile.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.slice {
			position: absolute;				
			top: 50%;
			right: -15%;

			@include for-size ($sm) {
				top: 60%;
				right: -55%;
			}
		}

		.title {
			position: absolute;
			top: 50%;
			left: 50%;
			max-width: 100%;
			transform: translate(-50%, -50%);
		};

		.title-list {
			max-width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			font-family: $font3;
			font-size: 130px;
			font-weight: 900;
			font-style: normal;
			color: $c;

			@include for-size ($row1260) {
			 font-size: 100px;
			}


			@include for-size ($sm) {
				font-size: 80px;
			}

			:first-child {
				font-family: $font4;
				font-weight: 900;
				text-align: center;
			}

			:last-child{
				margin-top: -25px;
				font-family: $font3;
				font-size: 150px;
				font-weight: normal;		

				@include for-size ($sm) {
					margin-top: -25px;
					font-size: 100px;

				}
			}
		};

		.btn-more {
			position: absolute;
			top: 90%;
			left: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;
			background: none;
			border: none;
			font-family: $font3;
			font-weight: 400;
			font-size: 40px;
			color: $b;

			transform: translate(-50%, 0%);

			svg {
				display: block;
				width: 80px;
				height: 30px;
			}

			@include for-size ($sm) {
				font-size: 30px;
			}
				
		}
	}
}

.medleys-products {
	&__section {
		position: relative;
		background-color: #570610;

		.products-slice {
			position: absolute;
			top: 50%;
			left: -15%;

			@include for-size ($sm) {
				top: 90%;
				left: -40%;
			}
		}

		.cloud-top-title {
			position: absolute;
			top: 5%;
			left: 5%;
			margin-top: 0;
			display: flex;
			align-items: center;
			font-family: $font3;
			font-size: 62px;
			font-weight: normal;
			line-height: 70px;
			font-style: normal;	

			@include for-size ($sm) {
				top: 0%;
				margin-top: -10px;
				font-size: 32px;
				line-height: 35px;				
			}

			:first-child {
				margin-right: 20px;	

				@include for-size ($sm) {
					margin-right: 10px;
				}

				svg {
					width: auto;					

					@include for-size ($sm) {
						width: 60px;
					}					
				}
			}

			:last-child {				
				:last-child {
					color: $a;
				}
			}			
		}

		.cloud-top-img {
			width: auto;

			@include for-size ($sm) {
				width: 85%;				
			}			
		}

		.arrow {
			position: absolute;
			left: 15%;
			transform: rotate(-56deg); 


			@include for-size ($sm) {
				width: 60px;
				top: 5%;
				left: 80%;				
				transform: scale(-1, 1);
			}

		}

		.products-list {
			position: relative;
			margin-top: -20px;
			padding-bottom: 190px;
			display: flex;
			justify-content: center;
			z-index: 1;

			@include for-size ($sm) {
				margin-top: 10px;
				padding-bottom: 120px;
				flex-direction: column;
				align-items: center;				
			}
		}	

		.products-list-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 500px;

			.products-imgBg1 {			
				background-image: url("../img/medleys-bg-products.png");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
		
				img {
					padding: 40px;
					transition: all 0.4s;
					
					&:hover {
						transform: rotate(5deg);
					}

				}
			}

			.products-imgBg2 {
				background-image: url("../img/medleys-bg-products2.png");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				rotate: 180deg;
				
				img {					
					padding: 40px;
					rotate: 180deg;
					transition: all 0.4s;
					
					&:hover {
						transform: rotate(5deg);
					}
				}
			}
		}

		.products-list-item-title {
			margin: 15px 0px;
			font-family: $font4;
			font-size: 32px;
			font-weight: 900;
			line-height: 37px;
			font-style: normal;
			text-align: center;
			color: #fff9dc;

			@include for-size ($sm) {
				font-size: 20px;
				line-height: 25px;
			}
		}

		.products-list-item-buttons {
			width: 325px;
			margin: 0 auto;
			display: flex;
			justify-content: center;
			gap: 10px;
			
			@include for-size ($sm) {	
				margin-bottom: 50px;			
				gap: 5px;				
			}
			
			li {			
				display: flex;	

				.learn {
					position: relative;
					display: inline-block;
					padding: 15px 17px;
					font-family: $font;
					font-size: 22px;
					font-weight: bold;
					font-style: normal;
					text-align: center;
					color: #1e1e1b;
					border: none;
					border-radius: 28px;
					background: #FFF9DC;
					z-index: 1;
					overflow: hidden;
					cursor: pointer;

					@include for-size ($sm) {
						padding: 10px 15px;
						font-size: 18px;
					}

					&::before {
						content: "";
						position: absolute;
						z-index: -1;
						background: #1e1e1b;
						border-radius: 50%;
						height: 400%;
						width: 150%;
						top: 100%;
						left: -150%;
						transition: all 0.3s ease-in-out;
						box-shadow: inset 0 0 0 1000px #1e1e1b;
						background-clip: padding-box;						
					}

					&:hover {
						color: #FFF9DC;
						&::before {
							top: -40%;
							left: -30%;
							color: #FFF9DC;
						}
					}
					
				}

				.buy {
					position: relative;
					padding: 15px 30px;
					font-family: $font;
					font-size: 22px;
					font-weight: bold;
					font-style: normal;
					text-align: left;
					border: none;
					border-radius: 28px;
					color: #fff9dc;
					background: #1E1E1B;
					z-index: 1;
					overflow: hidden;
					cursor: pointer;

					@include for-size ($sm) {
						padding: 10px 17px;
						font-size: 18px;
					}
				
					&::before {
						content: "";
						position: absolute;
						z-index: -1;
						background:#FFF9DC;
						border-radius: 50%;
						height: 400%;
						width: 150%;
						top: 100%;
						left: -150%;
						transition: all 0.3s ease-in-out;
						box-shadow: inset 0 0 0 1000px #FFF9DC;
						background-clip: padding-box;
					}
				
					&:hover {
						color:#1E1E1B;
				
						&::before {
							top: -40%;
							left: -30%;
							color: #1E1E1B;
						}
					}
				}
			}
		}

		.cloud-bottom {
			position: absolute;
			bottom: -1px;
			right: 0%;

			@include for-size ($sm) {
				left: 10%;
			}

			.cloud-bottom-describe {
				position: absolute;
				display: flex;
				justify-content: space-between;
				top: 40%;
				left: 40%;
				z-index: 1;

			img {
				width: auto;
				
				@include for-size ($sm) {
					width: 50px;
				}
				
			}

				.cloud-bottom-describe-title {
				position: relative;
				display: flex;
				flex-direction: column;
				top: -25%;				

					:first-child {
						
						font-family: $font3;
						font-size: 73px;
						font-weight: normal;
						font-style: normal;
						color: #fb7431;

						@include for-size ($sm) {
							font-size: 35px;
						}
						
					}

					:nth-child(2) {
						position: relative;
						top: -20px;
						font-family: $font4;
						font-size: 52px;
						font-weight: 900;
						font-style: normal;
						text-align: center;
						color: #fb7431;

						@include for-size ($sm) {
							top: -10px;
							font-size: 30px;
						}
					}
					
					:last-child {
						position: relative;
						top: -35px;
						font-family: $font3;
						font-size: 72px;
						font-weight: normal;
						font-style: normal;
						text-align: center;
						color: #1e1e1b;

						@include for-size ($sm) {
							top: -25px;
							font-size: 35px;
						}
					}
				}
				
			}
		}
	}
}


.frozen-aisle {
	&__section {
		position: relative;
		padding: 180px 0px;

		
		background-image: url("../img/frozen-aisle.png"), linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		@include for-size($sm) {
			padding: 130px 0px;
		}

		h2 {
			margin: 0;
			display: flex;
			justify-content: center;
			line-height: 1.2;
		}

		:first-child {
			font-family: $font4;
			font-size: 68px;
			font-weight: 900;
			font-style: normal;
			text-align: center;
			color: #fff9dc;
			br {
				display: none;
			}

			@include for-size ($row1100) {
				font-size: 50px;
			}

			@include for-size($sm) {
				font-size: 30px;
				br {
					display: block;
				}
			}
		}

		:last-child {
			margin-left: 50px;
			font-family: $font3;
			font-size: 132px;
			font-weight: normal;
			font-style: normal;
			text-align: center;
			color: #fff9dc;

			@include for-size ($row1100) {
				font-size: 100px;
			}

			@include for-size($sm) {
				font-size: 50px;
			}
		}
	}
}
